:root{
    --dark: #0c0c0c;
    --white: #fff;
    --red:#FF0000;
    --gray: #949494;
    --gray2: #cccccc;

}



body{
    background-color: var(--dark);
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    height: 90vh;
}

.box-question{
    background-color: var(--white);
    margin-top: 3rem;
    color:var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    max-height: 800px;
    border-radius: 10px;
    text-align: center;
}

.header{
    background-color: var(--red);
    border-radius: 10px 10px 0 0;
    color: var(--white);
    font-size: 1.4rem;
}

.footer{
    background-color: var(--red);
    padding: 1rem;
    border-radius: 0 0 10px 10px;

}

#message-input{
    width: 50%;
    font-size: 1rem;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;

}

#button{
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    padding:10px;

}

#button:hover{
    background-color: var(--gray);
    cursor:pointer;
    transition: .4s;
}

#historic{
    padding: 1rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
}

.box-my-message{
   text-align: right;
}


.box-my-message{
    display: flex;
    justify-content: flex-end;
 }

.box-response-message{
    display: flex;
    justify-content: flex-start;
    margin-left: 5%;
}



.my-message{
    text-align: right;
    background-color: var(--gray);

}

.chat-response{
    text-align: left;
    background-color: var(--gray2);
}

.my-message,
.chat-response{
    border-radius: 10px;
    padding: 1rem;
    color: var(--dark);
    margin: 0;
}

.animação{
    display: flex;
    justify-content: flex-start;
    width: 8px;
    height: 8px;
    border: 8px solid #434343;
    border-top-color:var(--red);
    border-radius: 50%;
    animation: girando 1s infinite;
     
}

.box-animation-message{
    margin-top: -60px;
}

.selection{
    background-color: var(--white);
    margin-top: 3rem;
    color:var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    max-height: 800px;
}

#pessoas,
#bandas{
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 40px;
    
}

  .custom-checkbox input[type="checkbox"] {
    opacity: 0;
  }

  .custom-checkbox label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .custom-checkbox img{
    display: flex;
  }

  .custom-checkbox input[type="checkbox"]:checked + label {
    font-weight: bold; /* Exemplo de estilo quando marcado */
  }

  


@keyframes girando{
    to{
        transform: rotate(1turn);
    }
}
